﻿
@{
    Layout = null;
}




<!DOCTYPE html>
<html>
<head>
    <link href="CSS/myCSS.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - VNEXPRESS</title>
    <div class="top-bar">
</head>
<div>
    <div class="main-bar">
        <div class="contact-left">contact-left</div>
        <a>(03855586274)(HCM)</a>
        <a>(03855586274)(HCM)</a>
        <button> Lien he quang cao</button>
        <button> Live</button>
        <button> follow</button>
        <button> youtube</button>
        <div class=" login-right">login-right</div>
        <button> đăng kí</button>
        <button> đăng nhập</button>
        <input placeholder=" tìm kiếm" />
    </div>
</div>
    </div>
<div class="main-content"> @RenderBody()</div>


    </body>
</html>
